.logo {
    height: 1.75rem;
  }
  
  .threebar {
    display: none;
  }
  .nav_two{
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .threebar {
      display: block;
    }
  
    .logo {
      height: 1.0rem;
    }
  
    .Nav {
      z-index: 1000000000;
      position: fixed;
      right: -60px;
      top:10px;
      transform: translateX(-50%); /* Centers the navigation horizontally */
      /* background-color: blue; */
    }
  
    .option {
      display: none;
    }
  
    .options__open {
      display: block;
    }
    .nav_one{
      display: none;

    }
    .nav_two{
      display: block;
    }
  
    ul {
      font-size: 0.75rem;
    }
  }
  