@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(240, 253, 244);
}
.selected{
    border-bottom: 4px solid red;
}
@media screen and (max-width:768px) {
   
    
}

.swiper-button-next:after
.swiper-button-prev:after{
    color: #a8dadc;

}
.swiper-pagination-progresssbar .swiper-pagination-progressbar-fill{
    background: #a8dadc !important;
    
}
html::-webkit-scrollbar{
    display:none;
}
html{
    scrollbar-width:none;
}
